/* ----------------------------
CUSTOMERS PAGE STYLING SHEET
---------------------------- */
@font-face {
    font-family: 'Monsieur La Doulaise';
    src: url('public/css/fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montez';
    src: url('public/css/fonts/Montez-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montaga';
    src: url('public/css/fonts/Montaga-Regular.ttf') format('truetype');
}

.middle-container {
    top: 50px;
    position: relative;
    display: flex;
    margin-left: 10vw;
    align-items: flex-start;
    height: 100vh;
    box-sizing: border-box;
}


.middle-top-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100vw;
    min-width: 1000px;
    height: 300px;
}


.middle-form-top {
    width: 350px;
    height: 100px;
    display: flex;
    margin-left: 10vw;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #EADDC4;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    top: 100px;

}

.middle-form-top-header {
    font-family: 'Montaga';
    display: flex;
    font-size: 60px;
    font-weight: bold;
    z-index: 2;
    padding-left: 1vw;
    padding-top: 10px;
    position: absolute;
}

.middle-form-image2 {
    display: flex;
    z-index: 2;
    margin-left: 70px;
}

.middle-form-image2 img {
    width: 50vw;
    min-width: 500px;
    height: auto;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}

.middle-form {
    width: 80vw;
    min-width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #EADDC4;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    top: 0;
}

.middle-form-header {
    width: 55vw;
    min-width: 550px;
    font-family: 'Montaga';
    display: flex;
    padding: 0 75px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.middle-form-2 {
    width: 70vw;
    min-width: 700px;
    max-height: 315px;
    min-height: 315px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background: #DACDB5;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
    top: 0;
}

.customer-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 5px;

}

.customer-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #c5b79b;
}

.customer-row:nth-child(even) {
    background-color: #e0d5c0;
}

.customer-row:hover {
    background-color: #d3c6ad;
}

.customer-id {
    width: 100px;
    text-align: left;
}

.customer-name {
    width: 300px;
    text-align: left;
}

.customer-email {
    width: 400px;
    text-align: left;
}

.customer-wallet {
    width: 100px;
    text-align: right;
}

.column-header-id {
    width: 150px;
    text-align: left;
    margin-left: 1vw;
}

.column-header-name {
    width: 400px;
    text-align: left;
}

.column-header-email {
    width: 550px;
    text-align: left;
}

.column-header-wallet {
    width: 100px;
    text-align: left;
}

.middle-form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.middle-form-header h2 {
    font-family: Montaga;
    color: #000000;
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
    margin-bottom: 30px;
}


:root {
    --brown-dark: #5D3C31;
    --brown-medium: #6D4C41;
    --brown-light: #A78B71;
    --cream: #EADDC4;
}




