body {
    background-color: #f5e6cc;
    margin: 0;
}

.loggedin {
    display: flex;
    align-items: center;
}

.login-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shopping-cart-icon {
    height: 75px;
    width: auto;
    margin-left: 15px;
    padding-right: 50px;
    opacity: 0.9;
    transition: all 0.2s ease;
    filter: brightness(0) invert(1);
}

.shopping-cart-icon:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

.shopping-cart-popup {
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 100;
    font-family: 'Montaga';
    color: #6D4C41;
    text-align: center;
    overflow: hidden;
}


.shopping-cart-container:hover .shopping-cart-popup {
    display: flex;
    flex-direction: column;
}


.shopping-cart-popup ul {
    flex-grow: 1;
    overflow-y: auto;
}

.shopping-cart-popup li {
    margin-bottom: 5px;
}

.shopping-cart-popup button {
    width: 100%;
    padding: 5%;
    background-color: #6D4C41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.shopping-cart-popup button:hover {
    background-color: #533227;
}

.shopping-cart-popup, p1 {
    color: #6D4C41;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
    top: 2px;
    z-index: 5;
}

.header-left {
    position: relative;
    z-index: 5;
}

.loggedInAs {
    color: #ffffff;
    margin: auto;
    font-family: 'Montaga';
    font-size: 18px;
    stoke: none;
    font-weight: 75;
}

.order-text {
    margin-right: 70px;
    order: -1;
}

.customer-text {
    margin-right: 70px;
    order: -1;
}

.login-link {
    color: #ffffff;
    margin: 0;
    font-family: 'Montez';
    font-size: 60px;
    stoke: none;
    font-weight: 75;
    text-decoration: none;
    text-underline: none;
}

.login-link:hover {
    color: #357abd
}

.top-container {
    position: relative;
    width: 100vw;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6D4C41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    z-index: 5;
    color: #ffffff;
    margin: 20px;
    font-family: 'Monsieur La Doulaise';
    font-size: 75px;
    stroke: none;
    font-weight: 75;
    text-decoration: none;
    text-underline: none;
}

.login-text {
    color: #ffffff;
    margin: 0;
    font-family: 'Montez';
    font-size: 60px;
    stroke: none;
    font-weight: 75;
}

.login-text:hover {
    color: #357abd;
}
