<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cupcake Factory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/stylesindex.css" th:href="@{/css/stylesindex.css}" rel="stylesheet"/>
    <link href="../public/css/stylesheadermenu.css" th:href="@{/css/stylesheadermenu.css}" rel="stylesheet"/>
    <script th:src="@{/js/quantityCounter.js}"></script>
</head>
<body>
<div class="top-container">
    <div class="header-left">
        <a th:href="@{/index}" class="logo">CupCake</a>
    </div>
    <div class="header-right">
        <div class="loggedin" th:unless="${session.username}">
            <div class="login-group">
                <div class="login-text">
                    <a th:href="@{/login}" class="login-link">LogInd</a>
                </div>
            </div>
        </div>
        <div class="loggedin" th:if="${session.username}">
            <div class="admin" th:if="${session.username == 'admin'}">
                <div class="customer-text">
                    <a th:href="@{/customers}" class="login-link">Kunder</a>
                </div>
            </div>
            <div class="order-text">
                <a th:href="@{/orders}" class="login-link">Ordre</a>
            </div>
            <div class="login-group">
                <div class="login-text">
                    <a th:href="@{/logout}" class="login-link">LogUd</a>
                </div>
                <div class="loggedInAs">
                    <span th:text="${session.username}"></span>
                </div>
            </div>
        </div>
        <div class="shopping-cart-container">
            <img th:src="@{/images/shoppingcart.png}"
                 src="/images/shoppingcart.png"
                 class="shopping-cart-icon"
                 alt="Shopping Cart">
            <div class="loggedin" th:if="${session.username} == null">
                <div class="shopping-cart-popup">
                    <p>Du er nødt til at logge ind</p>
                </div>
            </div>
            <div class="loggedin" th:if="${session.username}">
                <div class="shopping-cart-popup">
                    <ul>
                        <li th:each="cupcake : ${session.cart}">
                            <span th:text="${cupcake.bottom.getFlavour()}">Bund</span> -
                            <span th:text="${cupcake.topping.getFlavour()}">Topping</span> :
                            <span th:text="${cupcake.quantity}">Antal</span> stk. -
                            <span th:text="${cupcake.totalCupcakePrice}">Pris</span> kr.
                        </li>
                        <li>
                            <p>Total: <span th:text="${session.totalOrderPrice}"></span> kr. </p>
                        </li>
                    </ul>
                    <form method="post" th:action="@{/confirmorder}" class="confirm-order-form">
                        <button class="confirm-order-button" type="submit">Bekræft køb</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image-container">
    <div class="middle-form-image">
        <img th:src="@{/images/KokCupCakeProjekt.png}" class="kok" alt="nigeriankok">
    </div>
    <div class="middle-form-image2">
        <img th:src="@{/images/Mini_Assorted_Cupcakes_1.png}" class="cupcakes" alt="cupcakes">
    </div>
</div>
<div class="middle-container">
    <div class="middle-form">

            <!--  -->
            <div th:each="bottom : ${session.bottoms}">
                <div class="muffin-grid">
                <div th:each="topping : ${session.toppings}">

                    <div class="muffin-item">
                        <div class="muffin-image-container">
                            <img th:src="@{'/images/' + ${topping.ImgName}}" th:alt="${topping.getFlavour}">
                        </div>
                        <h4 class="muffin-price">
                            Bund: <span class="muffin-bottom-topping" th:text="${bottom.getFlavour}"></span>
                        </h4>
                        <h4 class="muffin-price">
                            Topping: <span class="muffin-bottom-topping" th:text="${topping.getFlavour}"></span>
                        </h4>

                        <!-- counter -->
                        <div class="quantity-section">
                            <div class="quantity-controls">
                                <button class="quantity-btn minus" type="button">-</button>
                                <span class="quantity quantity-value">0</span>
                                <button class="quantity-btn plus" type="button">+</button>
                            </div>
                            <form method="post" th:action="@{/cart}" onsubmit="return updateHiddenQuantity(this);">
                                <input type="hidden" name="bottomId" th:value="${bottom.getId}">
                                <input type="hidden" name="toppingId" th:value="${topping.getId}">
                                <input type="hidden" name="quantity" class="hidden-quantity" value="0">
                                <button class="add-to-cart-btn" type="submit">+kurv</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
