<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cupcake Factory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/stylesloginregister.css" th:href="@{/css/stylesloginregister.css}" rel="stylesheet"/>
    <link href="../public/css/stylesindex.css" th:href="@{/css/stylesheadermenu.css}" rel="stylesheet"/>
</head>
<body>
<div class="top-container">
    <div class="header-left">
        <a th:href="@{/index}" class="logo">CupCake</a>
    </div>
    <div class="header-right">
        <h2 class="login-text">LogInd</h2>
        <img th:src="@{/images/shoppingcart.png}"
             src="/images/shoppingcart.png"
             class="shopping-cart-icon"
             alt="Shopping Cart">
    </div>
</div>
<div class="middle-container">
    <div class="login-form">
        <div class="login-form-header">
            <h2>Log-Ind her</h2>
        </div>
        <form method="post" th:action="@{/login}" class="login-form-body">
            <input type="text"
                   placeholder="Brugernavn"
                   name="username"
                   required>

            <input type="password"
                   placeholder="Password"
                   name="password"
                   required>

            <div class="form-footer">
                <p>Hvis du ikke har en konto, så registrer dig <a th:href="@{/signup}" class="register-link">her</a></p>
            </div>

            <div class="login-form-button">
                <a th:href="@{/index}" class="back-button">Back</a>
                <button type="submit" class="login-button">LogInd</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
